@font-face {
  font-family: 'Museo Slab';
  src: url('fonts/museo_slab_500italic-webfont.eot');
  src: url('fonts/museo_slab_500italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/museo_slab_500italic-webfont.woff') format('woff'),
       url('fonts/museo_slab_500italic-webfont.ttf') format('truetype'),
       url('fonts/museo_slab_500italic-webfont.svg#museo_slab500_italic') format('svg');
  font-weight: 500;
  font-style: italic;
}
